.thanks-page{
    min-height: 100dvh;
    background-image: url('/static/images/bg_thanks.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 0 0;
    @include under(sm){
        padding: 85px 0 0;
    }

    &__container{
        width: 100%;
        box-sizing: border-box;
        padding: 200px 0 100px;
        color: c(white);
        .title{
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .txt-25{
            margin-bottom: 40px;
        }
    }
}