.home{

    &__tagline{
        padding: 120px 0;
        box-sizing: border-box;
        background: linear-gradient(
              to bottom,
              hsl(0, 0%, 0%) 0%,
              hsl(270, 100%, 2.76%) 8.6%,
              hsl(270, 100%, 5.45%) 17.5%,
              hsl(270, 100%, 8.06%) 26.5%,
              hsl(270, 100%, 10.59%) 35.6%,
              hsl(270, 100%, 13.05%) 44.6%,
              hsl(270, 100%, 15.43%) 53.3%,
              hsl(270, 100%, 17.73%) 61.7%,
              hsl(270, 100%, 19.95%) 69.6%,
              hsl(270, 100%, 22.08%) 76.9%,
              hsl(270, 100%, 24.12%) 83.4%,
              hsl(270, 100%, 26.08%) 89%,
              hsl(270, 100%, 27.94%) 93.6%,
              hsl(270, 100%, 29.71%) 97.1%,
              hsl(270, 100%, 31.37%) 99.2%,
              hsl(270, 100%, 32.94%) 100%
            );
        &-content{
            color: c(white);
            text-align: center;
            text-transform: uppercase;
            width: 88%;
            margin: 0 auto;
            @include under(sm){
                width: 100%;
            }
        }

        @include under(mobile){
            padding: 50px 0;
        }

        &--blue{
            background: linear-gradient(
              to bottom,
                  hsl(0, 0%, 0%) 0%,
                  hsl(238.31, 53.61%, 6.31%) 8.2%,
                  hsl(238.31, 53.61%, 12.37%) 16.1%,
                  hsl(238.31, 53.61%, 18.19%) 23.6%,
                  hsl(238.31, 53.61%, 23.76%) 30.9%,
                  hsl(238.31, 53.61%, 29.06%) 37.9%,
                  hsl(238.31, 53.61%, 34.09%) 44.7%,
                  hsl(238.31, 53.61%, 38.84%) 51.3%,
                  hsl(238.31, 53.61%, 43.3%) 57.7%,
                  hsl(238.31, 53.61%, 47.45%) 63.9%,
                  hsl(238.31, 56.45%, 51.29%) 70.1%,
                  hsl(238.31, 64.98%, 54.79%) 76.1%,
                  hsl(238.31, 73.87%, 57.95%) 82.1%,
                  hsl(238.31, 82.91%, 60.73%) 88.1%,
                  hsl(238.31, 91.77%, 63.12%) 94%,
                  hsl(238.31, 100%, 65.1%) 100%
                );
        }
    }
}