<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naica - Imágenes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=1.0.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/logo_naica.png') }}" type="image/png">
</head>
<body>
    <img src="{{ url_for('static', filename='images/logo_naica_mailing.png') }}" alt="Logo" class="image" width="40" height="40">
    <img src="{{ url_for('static', filename='images/mail_icon.png') }}" alt="Mail" class="image" width="40" height="40">
    <img src="{{ url_for('static', filename='images/naica_pagos_emm_bg.jpg') }}" alt="Pagos" class="image" width="40" height="40">
    <img src="{{ url_for('static', filename='images/phone_icon.png') }}" alt="Phone" class="image" width="40" height="40">
</body>
</html>
